<dialog data-person-target="modal2" class="w-96">
  <button type="button" data-action="person#close_employment" class="absolute top-4 right-4">X</button>
  <hr class="mb-4">

  <%= render "employment_data_form", user: @user %>
</dialog>