<dialog data-person-target="modal" class="w-90">
  <button type="button" data-action="person#close" class="absolute top-4 right-4">X</button>
  <hr class="mb-4">

  <%= render "personal_data_form", user: @user %>
</dialog>