<div>
  <button type="button" class="btn-card" data-action="person#open">
    Personal Data
  </button>

  <button type="button" class="btn-card" data-action="person#open_employment">
    Employment
  </button>

  <%= render "person_modal" %>
  <%= render "employment_modal" %>
</div>
